@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    font-family: "Telex", sans-serif;
    
}

li, a, button{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f2f2f2;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.name {
    cursor: pointer;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color: #0088a9
}

.links a.active{
    text-decoration: underline;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.greeting{
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #f2f2f2;
}

.greeting h1{
    font-size: 5em;
}

.greeting h2{
    font-size: 1.2em;
}


footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
    text-align: left;
  }