@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    font-family: "Telex", sans-serif;
    color: #f2f2f2;
    
}

html, body{
    height: 100%;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

li, a, button{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f2f2f2;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.name {
    cursor: pointer;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color: #0088a9
}

.links .link.active{
    text-decoration: underline;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.greeting{
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #f2f2f2;
}

.greeting h1{
    font-size: 5em;
}

.greeting h2{
    font-size: 1.2em;
}


.footer {
    width: 100%;
    /* display: block;
    overflow: hidden;*/
    padding: 70px 0; 
    box-sizing: border-box;
    background: black;
    position: relative;
    height: 250px;
    /* margin-top: -250px; */
    /* background-color: black; */
    clear: both;
}

.inner_footer{
    background: black;
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo{
    font-size: 1em;
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    background-color: black;
}

.inner_footer .footer_third{
    width: calc(21.66666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    background-color: black;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.inner_footer .footer_third h1{
    font-family: "Telex", sans-serif;
    font-size: 22px;
    color: #f2f2f2;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: black;
}

.inner_footer .footer_third a{
    /* font-family: "Telex", sans-serif; */
    font-size: 18px;
    font-weight: 200;
    color: #f2f2f2;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    background-color: black;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
    background-color: black;
}

@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }

    .inner_footer .logo, .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}